<p><a name="nav-menu" id="nav-menu"><strong>Site menu</strong></a></p>

<ul>
    {{ range .Site.Menus.main }}
    <li>
      <a href="{{ .URL }}">
      {{ $text := print .Name | safeHTML }}
      {{ $text }}
      </a>
    </li>
    {{ end }}
</ul>
