{{ define "main" }}
  <h1 class="title">{{ .Site.Title }}</h1>
  {{ .Content }}
	<main>
		<marquee>Yello world</marquee>
		<img src="media/profile2.png" alt="image test">
		<p>
	I'm Eero, 1st year student in New Media Design & Production 👋  <br> At the moment I'm most interested in computational geometry, and working on augmenting creative technology tools. 
	Previously worked as an illustrator, art director and a motion designer, slowly gotten into programming during past years. I also used to be an <a href="http://soundcloud.com/eerojohannes" target="_blank">electronic musician</a> during the nighttime.
		</p>
	</main>  
{{ end }}